div.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  text-align: center;
  color: rgb(68, 8, 54);
  justify-content: center;
  vertical-align: center;
}

ul {
  display: flex;
  list-style: none;
  padding: 0px;
  gap: 4px;
}
li {
  cursor: pointer;
  width: 200px;
  height: 200px;
  padding: 2rem;
  background-color: #ccc;
  color: inherit;
}

li.selected {
  background-color: rgb(25, 157, 69);
  color: white;
  user-select: none;
}
